//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "./homepage/home.scss";
@import "./aboutpage/about.scss";
@import "./buildingpage/building.scss";
@import "./contactpage/contact.scss";
@import "./addresspage/address.scss";
@import "./privacypage/privacy.scss";
@import "./calculator/calculator.scss";
@import "./floorpage/floor.scss";
@import "./filterpage/housesfilter";
@import "./housepage/house.scss";
@import "./notFoud//notFound.scss";


*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
    
}

body{
    font-family: sans-serif;
    font-weight:400px;
}
.container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    user-select: none;
}

//@media (max-width:220px){
//    .container {
//        width:220px !important;
//    }
//}
